---
const description = "404";
import '../styles/global.css';
---
<layout>
    <div class="lost">
        <h1 class="lost__header">{ description }</h1>
        <p class="lost__body">We can't seem to find the page you are looking for.</p>
        <p>
            <a class="lost__link" href="/">Return Home</a>
        </p>
    </div>
</layout>

