---
import Layout from "../layouts/Layout.astro";
const pageTitle = "Soundarya";
---

<Layout pageTitle={pageTitle}>
  <div class="title">
    <h1>Soundarya</h1>
    <span class="badge">UI Developer</span>
  </div>
  <h2>About</h2>
  <p>
    Hello there! 👋 I am a UI Developer with 4 years of professional experience,
    now working as a freelancer.
  </p>
  <p>
    I love creating clean, user-focused websites that make digital experiences
    better. Along the way, I also took a product management course out of
    curiosity, broadening my understanding of products and how
    design decisions impact the overall user experience.
  </p>
  <p>
    While I'm not working, I'd be mostly just building <a
      href="https://store.steampowered.com/app/648800/Raft/"
      style="display: inline-flex;align-items: center;color:#e665c3;"
    >
      Raft
      <img
        style="margin-left:5px;"
        width="20"
        height="20"
        alt="BuildingHammer"
        src="/Building_Hammer.webp"
      /></a
    >.
  </p>
  <p>
    Feel free to browse my work, and if you like what you see, let’s make
    something great together!
  </p>
  <h2>Skills</h2>
  <div class="skills center">
    <img
      class="skills__img"
      width="46"
      height="46"
      alt="JavaScript"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg"
    />
    <img
      class="skills__img"
      width="46"
      height="46"
      alt="React"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/react/react-original.svg"
    />
    <img
      class="skills__img"
      width="46"
      height="46"
      alt="NextJS"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/nextjs/nextjs-original.svg"
    />
    <img
      class="skills__img"
      width="46"
      height="46"
      alt="HTML"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original.svg"
    />
    <img
      class="skills__img"
      width="46"
      height="46"
      alt="CSS"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original.svg"
    />
    <img
      class="skills__img"
      width="46"
      height="46"
      alt="TailwindCSS"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/tailwindcss/tailwindcss-original.svg"
    />
    <img
      class="skills__img"
      width="46"
      height="46"
      alt="Git"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg"
    />
  </div>
</Layout>
