---
---
<footer>
    <div class="center">
        <ul class="footer">
            <li class="icon__btn"><a class="icon__link" href="https://github.com/souns26" target="_blank" aria-label="GitHub Link"><span class="git-icon">GitHub</span></a></li>
            <li class="icon__btn"><a class="icon__link" href="mailto: soundikub@gmail.com" aria-label="Email Link"><span class="mail-icon">Email</span></a></li>
            <li class="icon__btn"><a class="icon__link" href="https://www.linkedin.com/in/soundarya-k/" target="_blank" aria-label="LinkedIn Link"><span class="linked-in">LinkedIn</span></a></li>
        </ul>
    </div>
</footer>

