---
import ThemeIcon from './ThemeIcon.astro';
---
<div class="navbar">
    <div class="navbar__menu">
        <a href="/">Home</a>
        <a href="/works/">Works</a>
        <a href="https://drive.google.com/file/d/1k1TfqUDOOyHJoST1deZhNDBawX0FSFHw/view" target="_blank">Resume</a>
        <ThemeIcon />
    </div>
</div>

