---
import ThemeIcon from './ThemeIcon.astro';
---
<div class="navbar">
    <div class="navbar__menu">
        <a href="/">Home</a>
        <a href="/works/">Works</a>
        <a href="Soundarya_Resume.pdf" target="_blank">Resume</a>
        <!-- https://drive.google.com/file/d/1b0iC_C9WmRjtV1Ewib9M7Ph32yDxe7BL/view -->
        <ThemeIcon />
    </div>
</div>

